<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body id="app">
<button @click="get()">点击</button>
<h2>已有文件：</h2>
<!--<p th:each="file : ${files}">
    <img th:src="${file.name}" style="height:80px;"/>，文件名称：<span th:text="${file.name}"></span>
</p>-->
<!--<p>
    <img th:src="${file.name}" style="height:80px;"/>，文件名称：<span th:text="${file.name}"></span>
</p>-->
<script src="libs/jquery.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="js/upload.js"></script>
</body>
</html>